main{
    background-color: blue;
    flex-direction: row;
  }

  h1{ 
      background: white;
      color: black;
      padding: 50px;
      flex:1;

  }

  .mid {
    flex:6;
  }

  .left {
      flex:3;
  }

  .right {
      flex:1
  }